* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        text-decoration: none;
        list-style: none;
}  
/* el banner*/
.banner{
    background-image: url(../img/foto1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 80vh;
}
.titulo{
    font-size: 60px;
    font-weight: 700;
}

/*h2*/
h2 {    
    text-align: center;
    color: blue;
        
    }
p {
    color: blueviolet;
    background-color: yellow;
            }
/* galeria de fotos*/

img{
    width: 100%;
    height: 100%;
}
.section_title{
    width: 100%;
    margin: 1% 0;
    text-align: center;
}      
.gallery_photo{
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
    }
.column{
        flex:30%;
        padding: 5px;
        width: 400px;
        height: 400px;
    }              

/*footer*/
footer {
    color: black;
    text-align: center;
    padding: 10px;
    align-items: flex-end;

}
/*la media querisssss*/

@media only screen and (max-width: 620px){ 

/*galeria fotos*/
.column{
    flex: 100%;
}

}    
